/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap'); */
@import "tailwindcss";

:root {
  --background: #fbfbfb;
  /* --foreground: #171717; */
  --main-blue: #0B8EFF;
  --main-darkerblue: #0078E0;
  --colour-yellow: #ffb43b;
  --colour-bodytext: #323232;
  --colour-bodytext-2: #505050;
  --colour-bodytext-3: #7d7d7d;
  --colour-samsung: #2C32AC;
  --colour-influenso: #D15400;
  --colour-cardio: #009C1F;
  --colour-jackalope: #207aca;
  --colour-grey: #f4f4f4;
  --colour-darkgrey: #f0f0f0;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  /* color: var(--foreground); */
  /* font-family: "Inter", sans-serif; */
}
